$green: #87A878;
$dark-green: #5E6F56;
$grey: #F4F1F2;

$primary: $green;
$secondary: $dark-green;

@import 'vendor/0-dir';
@import 'modules/0-dir';
@import 'layouts/0-dir';

body {
	font-family:'Open Sans', sans-serif;
}

.u-forground {
	position: relative;
	z-index: 3;
}

.u-screen {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	z-index: 2;
	&.black {
		background-color: #000;
		opacity: 0.5;
	}
}