$green: #93BF9E;
$dark-brown: #40362E;
$light-brown: #8C8474;
$grey: #F4F1F2;

// old
// $green: #87A878;
// $dark-green: #5E6F56;
// $brown: #A49E8D;
// $grey: #F4F1F2;

$primary: $green;
$secondary: $dark-brown;
$tertiary: $light-brown;

@import 'vendor/0-dir';
@import 'modules/0-dir';
@import 'layouts/0-dir';

body {
	font-family:'Lato', sans-serif;
}

label {
	display: block;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

a {
	h3 {
		color: #333;
		text-decoration: none;
	}
	&:hover,  {
		text-decoration: none;
	}
}

h4 {
	font-weight: bold;
}

img {
	width: 100%;
}

p {
	font-size: 16px;
	line-height: 1.8;
}

.u-forground {
	position: relative;
	z-index: 3;
}

.u-text-center {
	text-align: center;
}

.u-screen {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	z-index: 2;
	transition: all 0.2 ease-in-out;
	&.black {
		background-color: #000;
		opacity: 0.5;
	}
}

.u-round {
	max-width: 180px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.u-small {
	max-width: 320px;
	margin: 25px auto;
	display: block;
}

.u-btn {
	display: inline-block;
	background-color: #ddd;
	color: #333;
	border-radius: 5px;
	padding: 14px 25px;
	text-align: center;
	line-height: 10.66px;
	font-size: 12px;
	letter-spacing:0.1em;
	text-transform: uppercase;
	font-weight:bold;
	margin: 5px 0 15px 0;
	transition: border-color 0.2s ease-out, background 0.2s ease-out;;
	&.u-left {
		margin-left: 0;
		margin-right: 0;
		text-align: left;
		width: auto;
		padding: 14px 30px;
	}
	&:hover, &:active, &:focus {
		text-decoration: none;
		color: #333;
	}
	&.block {
		display: block;
		margin: 10px auto 25px auto;
		max-width: 240px;
	}
	&.trans-black {
		border: 1px solid #333;
		color: #333;
		background: none;
		&:hover {
			border-color: #222;
			background-color: #222;
			color: #fff;
		}
	}
	&.trans-white {
		border: 1px solid #fff;
		color: #fff;
		background: none;
		&:hover {
			border-color: #fff;
			background-color: #fff;
			color: #333;
		}
	}
	&.black {
		background-color: $primary;
		color: #fff;
		&:hover, &:active {
			color: #fff;
			background-color: lighten($primary, 7);
		}
	}
}

.u-panel {
	position: relative;
	display: block;
	padding: 95px 45px;
	text-align: center;
	transition: all 0.2 ease-in-out;
	background-size: cover;
	-webkit-background-size: cover;
	&:hover {
		text-decoration: none;
		color: #fff;
		.u-screen.black {
			opacity: 0.2;
		}
	}
	p {
		padding: 12px 25px;
		color: #fff;
		border: 3px solid #fff;
		position: relative;
		z-index: 2;
		margin: 0;
		font-size: 18px;
		font-weight: bold;
	}
}

.m-title {
	background-color: $primary;
	padding: 45px 0;
	h1 {
		text-align: center;
		margin: 0;
		color: #fff;
	}
}

.m-point {
	margin: 15px 0;
	text-align: center;
	img {
		border-radius: 50%;
		margin: 0 auto 25px auto;
		display: block;
		max-width: 200px;
	}
	h4 {
		font-weight: bold;
	}
	h5 {
		font-style: italic;
		span {
			font-weight: bold;
			display: block;
			margin-top: 8px;
			font-style: normal;
		}
	}
	a.social {
		color: #777;
		font-size: 36px;
		&:hover, &:active {
			text-decoration: none;
			color: $primary;
		}
	}
}

.m-cta {
	padding: 45px 0;
	text-align: center;
	background-color: $tertiary;
	color: #fff;
	h4 {
		font-size: 24px;
		font-weight: bold;
		margin: 0 auto 25px auto;
		max-width: 480px;
		line-height: 1.6;
	}
	a {
		margin-bottom: 0;
	}
}

.m-list {
	list-style-type: none;
	font-weight: bold;
	margin: 25px 0;
	padding: 0;
	li {
		margin-bottom: 12px;
	}
}

.l-more-links {
	background-color: #f3f3f3;
	.container {
		max-width: 760px;
	}
}

.l-root-tab-body {
	h4 {
		font-weight: bold;
	}
  a.u-btn {
  	max-width: 220px;
  }
}