---
title: Arnold Machine Belts
---

<section class="m-title">
	<div class="container">
		<h1>Arnold Machine Belts</h1>
	</div>
</section>

<div class="container">
	<div class="row margin-lg">
		<div class="col-xs-12 col-sm-8">
			<p>
				Superior Bands got its start in the textile industry and these are the bands that made that start for us. Our Arnold Machine Bands are made from carefully selected yarn to make your Arnold Machine run extremely smooth. arnold If you care about the quality of your product then these bands will keep your spindles covering your product smoothly and evenly.
			</p>
			<h3>3 Ply Arnold Machine Bands</h3>
			<ul>
				<li>5 Turn Short- Inside Spindles,Up to 8,000 RPM, Heavier Packages- Blue with Black Tip</li>
				<li>5 Turn Long- Outside Spindles, Up to 8,000RPM, Heavier Packages- Blue</li>
				<li>4 Turn Short- Inside Spindles, Up to 8,500 RPM, Heavier Packages- Blue with Black Tip</li>
				<li>4 Turn Long- Outside Spindles, Up to 8,500 RPM, Heavier Packages- Blue</li>
				<li>3 Turn Short- Inside Spindles, High Speed- Blue with Black Tip</li>
				<li>3 Turn Long- Outside Spindles, High Speed- Blue</li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-4">
			<%= image_tag 'arnold.jpg' %>
		</div>
	</div>
</div>
<div class="l-more-links">
	<div class="container">
		<div class="row margin-lg">
			<div class="col-xs-12">
				<h2 class="u-text-center">More on Textile Industry</h2>
				<div class="row margin-xs">
					<div class="col-xs-12 col-sm-6">
						<%= link_to 'Identification Bands', 'indentification-bands.html', :class=>'u-btn block trans-black' %>
					</div>
					<div class="col-xs-12 col-sm-6">
						<%= link_to 'Woolen Twister Head Bands', 'woolen-twister-head-bands.html', :class=>'u-btn block trans-black' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="m-cta">
	<h4>For engineering samples and support for your current and future projects.</h4>
	<%= link_to 'Contact Us', 'contact.html', :class=>'u-btn u-btn-lg trans-black' %>
</section>