---
title: Contact
---

<section class="m-title">
	<div class="container">
		<h1>Contact</h1>
	</div>
</section>

<div class="l-contact-splash">
	<div class="container">
		<div class="row margin-md">
			<div class="col-xs-12">	
				<p>
					Superior Bands provides engineering samples and support for many different machine fabricators here in the United States and through out the world.
				</p>
				<p>
					Call us today to discuss your current projects and applications.
					OEM, Distributor Sales and Engineering Support:
				</p>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row margin-md">
		<div class="col-xs-12 col-sm-4">	
			<h3>Email:</h3>

			<p><label>Corporate Support:</label>svp@superiorbands.com</p>
			<p><label>Sales:</label>sales@superiorbands.com</p>
			<p><label>Administration and Support:</label>admin@superiorbands.com</p>
		</div>
		<div class="col-xs-12 col-sm-4">	
			<h3>Phone:</h3>
			<p>
				1-800-227-2906
			</p>

			<h3>Fax:</h3>
			<p>
				1-864-261-3976
			</p>
		</div>
		<div class="col-xs-12 col-sm-4">	
			<h3>Bill / Remit:</h3>
			<p>
				Superior Bands, 251 Alliance Parkway<br>Williamston S.C. 29697
			</p>
		</div>
	</div>
</div>

<div class="l-contact-form-area">
	<div class="container padding-lg">
		<h3 class="u-text-center">Or simply fill out the following form:</h3>
		<form>
			<label>Name:</label>
			<input type="text" required>
			<label>Email:</label>
			<input type="email" required>
			<label>Comments:</label>
			<textarea required></textarea>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<input type="submit" value="Submit">
				</div>
				<div class="col-xs-12 col-sm-6">
					<input type="reset" value="Reset">
				</div>
			</div>
		</form>
	</div>
</div>