---
title: Drag Brakes
---

<section class="m-title">
	<div class="container">
		<h1>Drag Brakes</h1>
	</div>
</section>

<div class="container">
	<div class="row margin-lg">
		<div class="col-xs-12 col-sm-8">
			<p>
				Superior Bands Inc. helped Roan Industries develop several products for their line of Plastic Bag Machines...Our Drag Brake is made in the United States drag bag with top quality materials specifically for the application of adding more tension into the line of plastic.This product was designed and developed specifically for Roan Industries.
			</p>
			<p>
				Superior Bands has the capability to help you design and develop any product. We still manufacture here in the United States with American Products and American Labor. We do things the "right way" from the begining to the end.
			</p>
		</div>
		<div class="col-xs-12 col-sm-4">
			<%= image_tag 'drag-brakes.jpg' %>
		</div>
	</div>
</div>
<div class="l-more-links">
	<div class="container">
		<div class="row margin-lg">
			<div class="col-xs-12">
				<h2 class="u-text-center">More on Plastic Bag Industry</h2>
				<div class="row margin-xs">
					<div class="col-xs-12 col-sm-6">
						<%= link_to 'Wicketer Bag Machines', 'wicketer-belts.html', :class=>'u-btn block trans-black' %>
					</div>
					<div class="col-xs-12 col-sm-6">
						<%= link_to 'Flat Cotton Belting', 'flat-cotton-belting.html', :class=>'u-btn block trans-black' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="m-cta">
	<h4>For engineering samples and support for your current and future projects.</h4>
	<%= link_to 'Contact Us', 'contact.html', :class=>'u-btn u-btn-lg trans-black' %>
</section>