---
title: Flat Cotton Belting
---

<section class="m-title">
	<div class="container">
		<h1>Flat Cotton Belting</h1>
	</div>
</section>

<div class="container">
	<div class="row margin-lg">
		<div class="col-xs-12 col-sm-8">
			<p>
				In the late 1980's, Superior Bands Inc. teamed up with a smaller bag Machine company named Roan. We developed elastic rope cotton belts belts for their new wicketer machines. They also reached out to us to develop a flat sewn cotton endless belt for their take away conveyors in 1" and 4 7/8" wide lengths.
			</p>
			<p>
				Although the Roan brand is now part of Thiele Technologies, we still manufacture the same quality round rope elastic belts and flat sewn cotton endless belts that helped create the brand.
			</p>
			<p>
				We have, and always will, focus on belting so you can focus on the big picture.
			</p>
			<p>
				Contact us today for flat or round belting to help your machine company grow.
			</p>
		</div>
		<div class="col-xs-12 col-sm-4">
			<%= image_tag 'flat-cotton.jpg' %>
		</div>
	</div>
</div>
<div class="l-more-links">
	<div class="container">
		<div class="row margin-lg">
			<div class="col-xs-12">
				<h2 class="u-text-center">More on Plastic Bag Industry</h2>
				<div class="row margin-xs">
					<div class="col-xs-12 col-sm-6">
						<%= link_to 'Wicketer Bag Machines', 'wicketer-belts.html', :class=>'u-btn block trans-black' %>
					</div>
					<div class="col-xs-12 col-sm-6">
						<%= link_to 'Drag Brakes', 'drag-brakes.html', :class=>'u-btn block trans-black' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="m-cta">
	<h4>For engineering samples and support for your current and future projects.</h4>
	<%= link_to 'Contact Us', 'contact.html', :class=>'u-btn u-btn-lg trans-black' %>
</section>