<section class="l-hero">
	<div class="slick-wrapper">
		<div>
			<div class="container">	
				<div class="u-forground">
					<h1>Superior Brands manufactures high quality belts for</h1>
					<h3>Textile machines. Plastic Bag Making Equipment. Line Conveyer Machnes.</h3>
				</div>
			</div>
			<%= image_tag 'example.jpg' %>
			<div class="u-screen black"></div>
		</div>
		<div>
			<div class="container">	
				<div class="u-forground">
					<h2>Seconds Message about us</h2>
					<h3>Lorem ipsum Ea ea do velit sunt mollit.</h3>
				</div>
			</div>
			<%= image_tag 'example.jpg' %>
			<div class="u-screen black"></div>
		</div>
		<div>
			<div class="container">	
				<div class="u-forground">
					<h2>Third Message about us</h2>
					<h3>Lorem ipsum Ea ea do velit sunt mollit.</h3>
				</div>
			</div>
			<%= image_tag 'example.jpg' %>
			<div class="u-screen black"></div>
		</div>
	</div>
</section>

<script type="text/javascript">
    $(document).ready(function(){
      $('.slick-wrapper').slick({
        arrows: false,
        autoplay: true,
        dots: true,
        speed: 600,
        autoplaySpeed: 2200,
        adaptiveHeight: true
      });
    });
  </script>