---
title: Textile Industry
---

<section class="m-title">
	<div class="container">
		<h1>Textile Industry</h1>
	</div>
</section>

<div class="container">
	<div class="row margin-md">
		<div class="col-xs-12">	
			<ul ezt="1" class="ezt-nav">
				<li><a href="javacsript:void(0);" class="ezt-active">Arnold Machine Belts</a></li>
				<li><a href="javacsript:void(0);">Identification Bands</a></li>
				<li><a href="javacsript:void(0);">Woolen Twister Head Bands</a></li>
			</ul>

			<div ezt="1" class="ezt-container l-root-tab-body u-text-center">
				<div class="ezt-content ezt-active">
					<p>
						Superior Bands got its start in the textile industry and these are the bands that made that start for us. Our Arnold Machine Bands are made from carefully selected yarn to make your Arnold Machine run extremely smooth. arnold If you care about the quality of your product then these bands will keep your spindles covering your product smoothly and evenly.
					</p>
					<%= link_to 'Learn More', 'arnold-machine-belts.html', :class=>'u-btn black' %>
				</div>
				<div class="ezt-content">
					<p>
						In the late 1980's, Superior Bands Inc. teamed up with a smaller bag Machine company named Roan. We developed elastic rope cotton belts belts for their new wicketer machines. They also reached out to us to develop a flat sewn cotton endless belt for their take away conveyors in 1" and 4 7/8" wide lengths.
					</p>
					<%= link_to 'Learn More', 'identification-bands.html', :class=>'u-btn black' %>
				</div>
				<div class="ezt-content">
					<h4>3-Ply Woolen Twister Head Bands</h4>
					<p>
						Multiple styles and types available.
					</p>
					<%= link_to 'Learn More', 'woolen-twister-head-bands.html', :class=>'u-btn black' %>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="m-cta">
	<h4>For engineering samples and support for your current and future projects.</h4>
	<%= link_to 'Contact Us', 'contact.html', :class=>'u-btn u-btn-lg trans-black' %>
</section>