@media (max-width:1019px) {
	body.open {
		ul.parent-nav {
			display: block;
		}
		i#toggleNav {
			color: $primary;
			background-color: #f5f5f5;
			box-shadow: -1px 0 #ccc inset, 0 4px rgba(0,0,0,0.1) inset;
		}
	}
}

nav {
	$logo-height: 32px;
	$nav-bg: $grey;
	$nav-height: 60px;
	//
	background-color: $nav-bg;
	height: $nav-height;
	text-align: center;
	position: relative;
	z-index: 9001;
	.container {
		height: 100%;
	}
	a {
		color: #333;
		transition: all 0.2s ease-out;
		&:active, &:hover {
			text-decoration: none;
		}
	}
	.site-id {
		position: absolute;
		left: 0;
		top: 50%;
		height: $logo-height;
		margin-top: -($logo-height / 2 );
		img, h2 {
			float: left;
		}
		img {
			width: auto;
			display: inline-block;
		}
		h2 {
			display: inline-block;
			line-height: $nav-height / 2;
			margin: 0 0 0 10px;
			font-size: 18px;
		}
	}
	.nav-cta {
		position: absolute;
		right: 0;
		line-height: $logo-height/3;
		top: 50%;
		margin-top: -($logo-height/3)/2;
		border-radius: 5px;
		background-color: $secondary;
		color: #fff;
		display: inline-block;
		padding: 12px 25px;
		top: 50%;
		margin-top: -17px;
		&:hover {
			background-color: lighten($secondary, 5);
		}
	}
	@media (max-width:660px) {
		.nav-cta {
			display: none;
		}
		a.site-id {
			left: 50%;
			margin-left: -40px;
			h2 {
				display: none;
			}
		}
	}
	@media (min-width:661px) and (max-width:1019px) {
		a.site-id {
			left: $nav-height + ($nav-height / 4);
			h2 {
				display: none;
			}
		}
	}
	@media (max-width:1019px) {
		i#toggleNav {
			position: absolute;
			display: block;
			line-height: $nav-height;
			text-align: center;
			top: 0;
			left: 0;
			height: $nav-height;
			width: $nav-height;
			box-shadow: -1px 0 #ddd inset;
			font-size: 14px;
		}
		.nav-cta {
			right: 10px;
		}
		ul.parent-nav {
			list-style-type: none;
			padding:0;
			margin:0;
			position: absolute;
			left: 0;
			top: $nav-height;
			width: 100%;
			z-index: 9001;
			border-bottom: 1px solid #ddd;
			background-color: rgba(0,0,0,0.7);
			text-align: left;
			display: none;
			ul {
				list-style-type: none;
				padding:0;
				margin:0;
				background-color: rgba(0,0,0,0.175);
				box-shadow: 0 -1px rgba(0,0,0,0.1) inset; 
				li {
					a {
						padding: 10px 15px 10px 30px;
						&:hover, &:active {
							background-color: rgba(0,0,0,0.1);
						}
					}
				}
			}
			li {
				width: 100%;
				a {
					display: block;
					padding: 10px 15px;
					color: #fff;
					box-shadow: 0 1px rgba(0,0,0,0.1) inset; 
					&:hover, &:active {
						color: #fff;
						text-decoration: none;
						background-color: rgba(250,250,250,0.04);
					}
				}
			}
		}
	}
	@media (min-width:1020px) {
		i#toggleNav  {
			display: none;
		}
		.container {
			position: relative;
			max-width: 1200px;
		}
		ul.parent-nav {
			list-style-type: none;
			margin:0;
			& > li {
				display: inline-block;
				&:hover, &:active {
					background-color: rgba(0,0,0,0.05);
					ul.sub-nav {
						display: block;
					}
					a {
						color: #333;
					}
				}
				& > a {
					line-height: $nav-height;
					padding:0 12px;
					display: inline-block;
				}
			}
		}
		ul.sub-nav {
			display: none;
			width: 100%;
			position: absolute;
			top: $nav-height;
			padding: 0;
			left: 0;
			margin: 0;
			list-style-type: none;
			color: #fff;
			background-color: rgba(0,0,0,0.8);
			&:before {
				content: "";
				position: absolute;
				left: -150%;
				top: 0;
				height: 100%;
				width: 150%;
				background-color: rgba(0,0,0,0.8);
				display: block;
			}
			&:after {
				content: "";
				position: absolute;
				right: -150%;
				top: 0;
				height: 100%;
				width: 150%;
				background-color: rgba(0,0,0,0.8);
				display: block;
			}
			li {
				display: inline-block;
			}
			a {
				color: #fff !important;
				padding:0 12px;
				line-height: $nav-height / 2;
				display: inline-block;
				height: 100%;
				&:hover {
					background-color: rgba(250,250,250,0.1);
					box-shadow: none;
				}
			}
		}
	}
}